/* Modelado de las 114 cajas, iniciando con un color de fondo en plata */

.cajas {
    width: 60px;
    height: 60px;
    background: black;
    border: none;
    margin: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}


/* Modelado de los 3 botones */

button {
    width: 90px;
    height: 40px;
    color: white;
    background: purple;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
}